* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body{
  background: url('./assets/justice.jpg');
  background-size: cover;
  background-position: 0 -100px;
  background-repeat: no-repeat;
  /* background-color: #333637; */
  color: #fff;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #333637;
  padding-top: 1%; 
}

.nav-logo{
  justify-self: flex-start;
}

.nav-list{
  order: 1;
  justify-self: flex-end;
}

.nav-button{
  order: 2;
  justify-self: flex-end;
}

.logo{
  height: 60px;
  width: 120px;
}

.list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.list-item{
  list-style: none;
  color: #c9c9c9;
}

.list :first-child{
  color: #fff;
}

.button-small{
  height: 40px;
  width: 150px;
  border: 2px solid khaki;
  border-radius: 5px;
  background: none;
  color: khaki;
  font-weight: bolder;
}

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */

.hero{
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.hero-desc{
  display: flex;
  flex-direction: row;
  background-color: #333637; 
}

.hero-heading{
  margin: 3% 7%;
  font-size: 4.568rem;
}

.hero-body{
  margin: 3% 5%;
}

.bottom{
  display: inline-block;
  background-color: #333637; 
}

.button-large-prev{
  height: 70px;
  width: 70px;
  background-color: #0d0d0d;

}

.button-large-next{
  height: 70px;
  width: 70px;
  background-color: khaki;
}